<ion-header no-shadow>
  <ion-toolbar color="secondary" text-center>
      <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list padding>
      <ion-item margin color="light">
          <ion-label position="floating">Nom / Prénom</ion-label>
          <ion-input type="text"></ion-input>
          <ion-icon name="person" slot="end" align-self-center></ion-icon>
      </ion-item>
      <ion-item class="ion-margin" color="light">
          <ion-label position="stacked">Date</ion-label>
          <ion-input type="date"></ion-input>
          <ion-icon name="calendar" slot="end" align-self-center></ion-icon>
      </ion-item>
      <ion-item class="ion-margin" lines="none">
          <ion-label position="stacked">Commentaire</ion-label>
          <ion-textarea rows="6" cols="20" placeholder="Une note sur cette visite ?" style="border: 1px solid #d7d8da; border-radius:15px; padding:0.5em;margin-top: 1.2em"></ion-textarea>
      </ion-item>
      <!-- <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input required></ion-input>
          <ion-icon name='eye' item-right></ion-icon>
      </ion-item> -->
  </ion-list>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
      <ion-buttons slot="end" padding>
         <ion-button (click)="closeModal()">Fermer</ion-button>
         <ion-button color="secondary" (click)="confirmUpdate($event)">Valider</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>


