<ion-content>
  <ion-list *ngIf="visitForm">
    <ion-list-header>Faites votre choix</ion-list-header>
    <!-- Form Group -->
    <form [formGroup]="visitForm" (ngSubmit)="submitForm()" class="ion-text-center">
      <ion-item *ngFor="let formElement of visitForm.controls | keyvalue">
        <ng-container>
          <ion-label [color]="visit[formElement.key] ? '' : 'tertiary'">{{formTitle[formElement.key]}} :  </ion-label>
          <ion-select 
            id="{{formElement.key}}"
            placeholder="Selectionnez"
            okText="Valider"
            cancelText="Annuler"
            [formControlName]="formElement.key"
            (click)="setClicked($event)"
            (ionChange)="testInputEvent2($event, formElement.key)"
            required
            [interfaceOptions] = "generateInterfaceOptions(formTitle[formElement.key])"
            [multiple] = "formElement.key == 'ouvrage' ? true : null"
            class="ion-text-wrap"
          >
  <!-- 
            <ion-select-option 
            *ngIf="formElement.key == 'ouvrage' && visit[formElement.key]"
            [ngModel]="selectCheckbox"
            [ngModelOptions]="{standalone: true}"
            >Select All / Deselect All</ion-select-option> -->
            <ion-select-option *ngFor="let select of visit[formElement.key]" value="{{select.id}}">{{select.name}}</ion-select-option>
          </ion-select>
        </ng-container> <!-- 
        <ng-template #elseBlock class="ion-justify-content-around">
          <ion-label [color]="visit[formElement.key] ? '' : 'tertiary'" slot="start">{{formTitle[formElement.key]}} :  </ion-label>
          <ion-label item-right class="ion-text-end"><span style="vertical-align: middle; color: #a2a4ab">Selectionnez</span><ion-icon name="arrow-dropdown" style="font-size: 19px; vertical-align: middle; color: #a2a4ab" class="ion-align-item-center"></ion-icon></ion-label>
        </ng-template> -->
        </ion-item>
      



<!-- 
    <ion-item *ngIf="collectivite">
      <ion-label>Collectivité </ion-label>
      <ion-select
        (ionChange)="testInputEvent($event)"
        id="collectivite"
        placeholder="Selectionnez"
        okText="Valider"
        cancelText="Annuler"
        [(ngModel)]="collectivite.id"
        name="collectivite"
        required
      >
        <ion-select-option
          *ngFor="let select of collectivite"
          value="{{select.id}}"
          >{{select.name}}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item *ngIf="entiteGestion">
      <ion-label>Entité de Gestion </ion-label>
      <ion-select
        (ionChange)="testInputEvent($event)"
        id="entiteGestion"
        placeholder="Selectionnez"
        okText="Valider"
        cancelText="Annuler"
        [(ngModel)]="entiteGestion.id"
        name="entiteGestion"
        required
      >
        <ion-select-option
          *ngFor="let select of entiteGestion"
          value="{{ select.id }}"
          >{{ select.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item *ngIf="infrastructure">
      <ion-label>Infrastructure </ion-label>
      <ion-select
        (ionChange)="testInputEvent($event)"
        id="infrastructure"
        placeholder="Selectionnez"
        okText="Valider"
        cancelText="Annuler"
        required
      >
        <ion-select-option
          *ngFor="let select of infrastructure"
          value="{{ select.id }}"
          >{{ select.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item *ngIf="ouvrage">
      <ion-label>Ouvrage </ion-label>
      <ion-select
        (ionChange)="testInputEvent($event)"
        id="ouvrage"
        placeholder="Selectionnez"
        okText="Valider"
        cancelText="Annuler"
        required
      >
        <ion-select-option
          *ngFor="let select of ouvrage"
          value="{{ select.id }}"
          >{{ select.name }}</ion-select-option
        >
      </ion-select>
    </ion-item> -->

    <!-- CREATE VISITE -->
    <div class="ion-padding ion-margin">
      <ion-button *ngIf="visitForm.valid" type="submit" color="secondary" strong>Créer la visite</ion-button>
    </div>
    <div class="ion-padding ion-margin">
      <ion-button (click)="submitTest()" color="tertiary" strong >Test Visit</ion-button>
    </div>
  </form>
  </ion-list>
</ion-content>
