<ion-tabs>
  
  <ion-header >
      <app-header customTitle="Profil" logOut></app-header>
    </ion-header>

  <ion-tab-bar slot="top">

    <ion-tab-button tab="preparation">
      <ion-icon name="download"></ion-icon>
      <ion-label>Préparation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="send">
      <ion-icon name="send"></ion-icon>
      <ion-label>Envoi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
        <ion-icon name="time"></ion-icon>
        <ion-label>Historique</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
