<ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button  routerDirection="backward"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
        <ion-icon [name]="'camera'" color="primary" size="large" slot="end" class="ion-margin" (click)="photoService.selectImage(storageName, title, id, type)"></ion-icon>
    </ion-toolbar>
  </ion-header>
</ion-header>
<ion-content [scrollEvents]="true">
    <ion-item-sliding>
      <ion-grid>
        <ion-row>
          <h2 class="ion-text-align" *ngIf="!photoService.images[0]">Prenez une photo</h2>
          <ion-col size="6" style="max-height: 150px" *ngFor="let photo of photoService.images; index as pos; let color">
            <ion-row style="margin-bottom: -45px">
              <ion-col size="6">
                <ion-icon class="ion-float-left" name="trash" style="--z-index: 99;" size="large" color="warning" (click)="photoService.deleteImage(photo, pos, storageName, id, type)"></ion-icon>
              </ion-col>
              <ion-col size="6">
                <ion-icon class="ion-float-end" name="heart" style="--z-index: 99;" size="large" *ngIf="(photo.id === photoService.favorite)" color="primary" (click)="addFavorite('visite_photo', photo.id)"></ion-icon>
                <ion-icon class="ion-float-end" name="heart" style="--z-index: 99;" size="large" *ngIf="(photo.id !== photoService.favorite)" color="medium" (click)="addFavorite('visite_photo', photo.id)"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-thumbnail style="--size: 100%; margin: 0.2em;">
              <ion-img [src]="photo.path" (click)="presentModal(photo, pos, type, id)"></ion-img>
            </ion-thumbnail>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-sliding>
</ion-content>
<!--<ion-content>-->
  <ion-content class="ion-padding" style="max-height: 35%">
    <ion-label *ngIf="type === 'cas' && cas !== undefined && notable === 1" position="fixed">Note
      <ion-select *ngIf="type === 'cas' && cas !== undefined" [(ngModel)]="cas.id_visite_note" [interfaceOptions]="createInterfaceOptions(casName)" (ionChange)="onRateChange($event.detail.value, type, cas.id_visite_liste_cas )" >
        <ion-select-option *ngFor="let note of notes; let i = index" [value]="note.id_visite_note">{{note.note}}</ion-select-option>
      </ion-select>
    </ion-label>
      <form #form>
        <ion-label position="floating">Commentaire</ion-label>
        <ion-textarea placeholder="Entrez le commentaire..." *ngIf="comment" name="com" rows="4" cols="20" style="border: 1px solid #d7d8da; border-radius:15px; padding:0.5em;margin-top: 1.2em" value="{{comment}}"></ion-textarea>
        <ion-textarea placeholder="Entrez le commentaire..." *ngIf="!comment" name="com" rows="4" cols="20" style="border: 1px solid #d7d8da; border-radius:15px; padding:0.5em;margin-top: 1.2em" ></ion-textarea>
      </form>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-buttons slot="end" class="ion-padding">
      <ion-button color="primary" type="submit" (click)="insertComment(form, type, id)">Valider</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
