<ion-header>
    <app-header [customTitle]="'Historique'"></app-header>
    <ion-segment [(ngModel)]="viewSegment">
        <ion-segment-button value="equipement">
            <ion-label>Équipements</ion-label>
        </ion-segment-button>
        <ion-segment-button value="listecas">
            <ion-label>Liste Cas</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>


<ion-content [ngSwitch]="viewSegment">

    <ng-container *ngSwitchCase="'equipement'">
        <ng-container *ngFor="let equip of equipment; let i = index">
            <ion-card class="ion-text-center">
                <img  src="{{equip.url_photo_favoris ? 'http://90.113.154.212/ashera/uploads/' + equip.url_photo_favoris : 'assets/img/no-photo-available.png' }}" />
                <!--          <ion-card-title>Liste Equipement n° {{ equip.id_visite_equipement}}</ion-card-title>-->
                <ion-card-title>{{equip.nom_equipement}}</ion-card-title>
                <ion-card-content class="ion-text-start">Commentaire: {{equip.commentaire}}</ion-card-content>
                <ion-card-content class="ion-text-start">Note: {{equip.note}} </ion-card-content>
            </ion-card>
        </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'listecas'">
        <ng-container *ngFor="let listCas of listeCas; let j = index">
            <ion-card class="ion-text-center">
                 <img  src="{{listCas.url_photo_favoris ? 'http://90.113.154.212/ashera/uploads/' + listCas.url_photo_favoris : 'assets/img/no-photo-available.png' }}" />
                <!-- <ion-card-title>Liste de Cas n° {{ listCas.id_visite_liste_cas}}</ion-card-title>-->
                <ion-card-header>
                    <ion-card-title>{{listCas.cas}}</ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-text-start">
                    Commentaire: {{listCas.commentaire}}
                </ion-card-content>
                <ion-card-content class="ion-text-start">
                    Note: {{listCas.note}}
                </ion-card-content>
            </ion-card>
        </ng-container>
    </ng-container>

</ion-content>

