 <ion-header no-shadow>
     <ion-toolbar color="primary">
         <ion-title>Paramètrage de la visite</ion-title>
     </ion-toolbar>
 </ion-header>
 
    <ion-content>
        <form #form="ngForm">
        <ion-list class="ion-padding">
            <ion-list-header class="ion-text-center">
                <ion-title>{{nameOuvrage}}</ion-title>
            </ion-list-header>
            <ion-item margin color="light">
                <ion-label position="floating">Nom / Prénom</ion-label>
                <ion-input name="nameAgent" type="text" [(ngModel)]="visitForm.nameAgent" required></ion-input>
                <ion-icon name="person" slot="end" align-self-center></ion-icon>
            </ion-item>
            <ion-item class="ion-margin" color="light">
                <ion-label position="stacked">Date</ion-label>
                <ion-input name="date" type="date" [(ngModel)]="visitForm.date" required></ion-input>
                <ion-icon name="calendar" slot="end" align-self-center></ion-icon>
            </ion-item>
            <ion-item class="ion-margin" lines="none">
                <ion-label position="stacked">Commentaire</ion-label>
                <ion-textarea [(ngModel)]="visitForm.comment" name="comment" rows="6" cols="20" placeholder="Une note sur cette visite ?" style="border: 1px solid #d7d8da; border-radius:15px; padding:0.5em;margin-top: 1.2em"></ion-textarea>
            </ion-item>
        </ion-list>
    </form>
    </ion-content>
    <ion-footer no-shadow>
        <ion-toolbar position="bottom">
            <ion-buttons slot="end" class="ion-padding">
                <ion-button (click)="closeModal()">Fermer</ion-button>
                <ion-button color="secondary" (click)="initVisit(form)" [disabled]="form.invalid">Valider</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>

 
 
