<!-- <ion-header >
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{customTitle}} </ion-title>
    <ion-button slot="end">
        <ion-icon slot="icon-only" name="{{customButton.icon}}" (click)="customButton.function"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header> -->

<ion-toolbar color="primary" class="ion-text-center">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>{{customTitle}}</ion-title>
  <ion-button *ngIf="customButton" slot="end" (click)="this[customButton.function]($event)">
    <ion-icon slot="icon-only" name="{{customButton.icon}}" ></ion-icon>
  </ion-button>
</ion-toolbar>
