<ion-content>
<ion-list>
  <ion-list-header class="ion-padding">
    <ion-label>{{visitClosed.length > 1 ? 'Visites' : 'Visite'}} à envoyer</ion-label>
    <ion-label>Total : {{visitClosed.length}}</ion-label>
  </ion-list-header>
  <ng-container *ngFor="let toSend of visitClosed">
    <ion-grid>
    <ion-row style="border-bottom: 1px solid #ddd">
      <ion-col size="6" class="ion-align-self-center">
        <ion-row>
          <ion-label class="ion-text-wrap">{{toSend.nom_ouvrage}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label color="medium" lines="none">Commencée le : {{convertDate(toSend.date)}}</ion-label>
        </ion-row>
      </ion-col>
      <ion-col size="6" class="ion-align-self-center">
        <ion-buttons>
          <ion-button color="success" fill="solid" expand="block" (click)="displayAlert(toSend.id_visite)">Envoyer</ion-button>
          <ion-button color="success" fill="solid" expand="block" (click)="upload(toSend.id_visite)">Upload</ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
    
  </ng-container>
</ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="danger">
    <ion-button fill="clear" expand="full" color="light" (click)="alertDrop()">
      Vider les visites</ion-button>
  </ion-toolbar>
</ion-footer>
