.button-round{
    /* box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.59); */
    --border-radius: 25px;
    --box-shadow:20px;
}
ion-grid{
    --ion-grid-padding:20px;
    margin-top: 20px;
}
ion-card{
    --background:#fff!important;
    border-radius:20px;
    ion-card-title{
        font-size:1.5rem;
        margin-bottom:5px;
    }
}
