<ion-content  color="primary">
  <form  #form="ngForm" (ngSubmit)="loginService(form)">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center" >
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <img src="assets/img/espelia_logo.png">
            <h3>ASHERA</h3>
          </div>
        </ion-col>
      </ion-row>
      <ion-row color="primary" class="ion-justify-content-center" >
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        
          <ion-card class="ion-padding">
            <!-- CARD HEADER -->
            <ion-card-header class="ion-text-center">
              <ion-card-title size="large" >Bienvenue</ion-card-title>
              <ion-card-subtitle>Veuillez vous connecter en utilisant votre compte GS'O.</ion-card-subtitle>
            </ion-card-header>

            <!-- CARD BODY -->
            <ion-card-content>
              <ion-item>
                  <ion-label position="stacked" color="medium"> Email </ion-label>
                  <ion-input  name="email" type="email" ngModel="" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked" color="medium"> Mot de passe </ion-label>
                  <ion-input name="password" type="password" ngModel="" required></ion-input>
                </ion-item>
            </ion-card-content>

          <!-- SUBMIT BUTTON -->
          <div class="ion-padding ion-text-center">
            <ion-button strong shape="round" color="secondary" type="submit" [disabled]="form.invalid">Se connecter</ion-button>
          </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
