<ion-app>
    <ion-split-pane contentId="main-content" >
      <ion-menu contentId="main-content" type="overlay" [swipeGesture]="false">
        <ion-header>
          <ion-toolbar>
            <ion-title class="ion-margin">Ashera</ion-title>
            <ion-title class="ion-margin" size="small">Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content >
          <ion-list>
            <ion-menu-toggle auto-hide="false">
              <ng-template ngFor let-p [ngForOf]="appPages">
                <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                    <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
                    <ion-label>
                      {{p.title}}
                    </ion-label>
                  </ion-item>
                </ng-template>
              <ion-button [routerDirection]="'root'" (click)="logoutJwt()" color="light" expand="block" class="ion-margin">
                <ion-icon slot="start" name="log-out"></ion-icon>
                Se déconnecter
              </ion-button>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  </ion-app>
