<ion-toolbar>
  <ion-title>{{picture.name}}</ion-title>
</ion-toolbar>
  <ion-content>
    <ion-row>
      <ion-col size="12">
        <ion-row style="margin-bottom: -45px">
          <ion-col size="6">
            <ion-icon class="ion-float-left" name="trash" style="--z-index: 99;" size="large" color="warning" (click)="photoService.deleteImage(picture, position, storageKey, id, type)"></ion-icon>
          </ion-col>
          <ion-col size="6">
            <ion-icon *ngIf="picture.id === photoService.favorite" class="ion-float-end" name="heart" style="--z-index: 99;" size="large" color="primary" (click)="addFavorite('visite_photo', picture.id)"></ion-icon>
            <ion-icon *ngIf="picture.id !== photoService.favorite" class="ion-float-end" name="heart" style="--z-index: 99;" size="large" color="medium" (click)="addFavorite('visite_photo', picture.id)"></ion-icon>
          </ion-col>
        </ion-row>
        <img [src]="picture.path"  alt=""/>
      </ion-col>
    </ion-row>
  </ion-content>
  <ion-content class="ion-padding" style="max-height: 30%">
    <form #form>
      <ion-label position="floating">Commentaire</ion-label>
      <ion-textarea placeholder="Entrez le commentaire..." *ngIf="comment" name="com" rows="4" cols="20" style="border: 1px solid #d7d8da; border-radius:15px; padding:0.5em;margin-top: 1.2em" value="{{comment}}"></ion-textarea>
      <ion-textarea placeholder="Entrez le commentaire..." *ngIf="!comment" name="com" rows="4" cols="20" style="border: 1px solid #d7d8da; border-radius:15px; padding:0.5em;margin-top: 1.2em"></ion-textarea>
    </form>
  </ion-content>
  <ion-footer no-shadow>
    <ion-toolbar position="bottom">
      <ion-buttons slot="end" class="ion-padding">
        <ion-button color="medium" (click)="closeModal()">Fermer</ion-button>
        <ion-button color="primary" type="submit" (click)="insertComment(form)">Valider</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
