<ion-header>
  <ion-title class="ion-text-center">Votre dernière visite</ion-title>
</ion-header>
<br/>
<ion-content>
  <ion-segment id="visite" class="ion-text-center">Choix partie ouvrage</ion-segment>
  <ion-segment>
    <ion-select
            [(ngModel)]="idPartieOuvrage"
            placeholder="Selectionnez"
            okText="Valider"
            cancelText="Annuler"
            class="popover"
            (click)="getPartieOuvrage()"
            (ionChange)="registerChange()"
    >
      <ion-select-option
              *ngFor="let data of partieOuvrage "
              value="{{data.id_visite_partie_ouvrage}}">
        {{data.nom_partie_ouvrage}}
      </ion-select-option>
    </ion-select>
  </ion-segment>

</ion-content>

