
<ion-header color="primary">
  <app-header [customTitle]="partieOuvrageTitle"></app-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="visit" text="Retour" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment [(ngModel)]="viewSegment">
      <ion-segment-button value="partieOuvrage">
          <ion-label>Partie d'Ouvrage</ion-label>
      </ion-segment-button> 
      <ion-segment-button value="equip">
          <ion-label>Équipements</ion-label>
      </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [ngSwitch]="viewSegment">
  <!-- 
    PARTIE OUVRAGE CASE 
  -->
  <ng-container *ngSwitchCase="'partieOuvrage'"> 
    <!-- PROGRESS BAR -->
    <ion-list-header class="ion-padding">
      <ion-label>Progression</ion-label>
      <ion-label>{{progressPO.count}} / {{progressPO.total}}</ion-label>
    </ion-list-header>
    
    <!-- 
      FIRST LIST, for cas (notable == true) 
    -->
    <ion-list>
      <!-- LIST-HEADER -->
      <ion-item lines="full">
        <ion-label class="list-title" lines="full">Partie d'ouvrage</ion-label>
      </ion-item>
      
      <ion-grid *ngFor="let notable of casNotable; let k = index">
        <ion-row style="border-bottom: 1px solid #ddd">
          <ion-col size="1" class="ion-align-self-center">
              <ion-icon [color]="notable.status === 1 ? 'success' : 'warning'" [name]=" notable.status === 1 ? 'checkmark' : 'close'"></ion-icon>
          </ion-col>
          <ion-col size="4" class="ion-align-self-center">
            <ion-label class="ion-text-wrap">{{getCas(notable.id_visite_cas)}}</ion-label>
          </ion-col>
          <ion-col size="6" class="ion-align-self-center">
              <app-rating [maxRating]="(notes.length)" [(rating)]="rate[notable.id_visite_cas]" (ratingChange)="onRateChange($event, 'cas', k, notable.id_visite_liste_cas)"></app-rating>
          </ion-col>
          <ion-col size="1" class="ion-align-self-center ion-text-center">
            <ion-buttons>
              <ion-icon class="ion-float-right" color="primary" size="large" name="md-add-circle" [routerLink]="'/details/' + getCas(notable.id_visite_cas) + '/' + ouvrageName + '/' + 'cas' + '/' + notable.id_visite_liste_cas + '/' + idVisit" routerDirection="forward" fill="solid" expand="block"></ion-icon>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- END :: LIST-BODY -->
    </ion-list>

    <!-- 
      SECOND LIST, for cas (nottable == false) 
    -->
    <ion-list>
      <!-- LIST-HEADER -->
      <ion-item lines="full">
        <ion-label class="list-title" lines="full">Description général</ion-label>
      </ion-item>
      <!-- LIST-BODY -->
      <!-- <ion-grid *ngFor="let not of listeCas; let p=index">
        <ion-row style="border-bottom: 1px solid #ddd" *ngIf="!isNotable(not.id_visite_cas)"> -->
      <ion-grid *ngFor="let other of casOther; let p=index">
        <ion-row style="border-bottom: 1px solid #ddd">
          <ion-col size="1" class="ion-align-self-center">
            <ion-icon [color]="other.status ? 'success' : 'warning'" [name]="other.status ? 'checkmark' : 'close'"></ion-icon>
          </ion-col>
          <ion-col size="7" class="ion-align-self-center">
            <ion-label class="ion-text-wrap">{{getCas(other.id_visite_cas)}}</ion-label>
            <ion-row>
              <ion-label color="medium">{{ sliceText(other.commentaire) }}</ion-label>
            </ion-row>
          </ion-col>

          <ion-col size="4" class="ion-align-self-center" color="danger">
            <ion-buttons class="ion-padding">
                <ion-button color="light" [routerLink]="'/details/' + getCas(other.id_visite_cas) + '/' + ouvrageName + '/' + 'cas' + '/' + other.id_visite_liste_cas + '/' + idVisit" routerDirection="forward" fill="solid" expand="block">Détail</ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- END :: LIST-BODY -->
    </ion-list>
  
  </ng-container> 
  <!-- 
    END :: PARTIE OUVRAGE CASE 
  -->

  <!-- 
    EQUIPEMENT CASE 
  -->
  <ng-container *ngSwitchCase="'equip'">
    <!-- PROGRESS BAR -->
    <ion-list-header class="ion-padding">
      <ion-label>Progression</ion-label>
      <ion-label>{{progressEquip.count}} / {{progressEquip.total}}</ion-label>
    </ion-list-header>

    <!-- LIST OF EQUIP -->
    <ion-list>
      <!-- LIST-HEADER -->
      <ion-item lines="full">
        <ion-label class="list-title" lines="full">Liste des équipements</ion-label>
      </ion-item>
      <!-- LIST-BODY -->
      <ion-grid *ngFor="let equip of equipement; let j = index">
        <ion-row style="border-bottom: 1px solid #ddd">
          <ion-col size="1" class="ion-align-self-center">
            <ion-icon [color]="equip.status ? 'success' : 'warning'" [name]="equip.status ? 'checkmark' : 'close'"></ion-icon>
          </ion-col>
          <ion-col size="4" class="ion-align-self-center">
            <ion-label class="ion-text-wrap">{{equip.nom_equipement}}</ion-label>
          </ion-col>
          <ion-col size="4" class="ion-align-self-center" color="danger">
            <ion-select placeholder="Évaluation" interface="alert" [(ngModel)]="equip.id_visite_note" [interfaceOptions]="createInterfaceOptions(equip.nom_equipement)" (ionChange)="onRateChange($event.detail.value, 'equip', j, equip.id_visite_equipement)">
              <ion-select-option *ngFor="let note of notes; let i = index" [value]="note.id_visite_note">{{note.note}}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="3" class="ion-align-self-center ion-text-center">
            <ion-buttons>
              <ion-button class="ion-margin-left" color="light" [routerLink]="'/details/' + equip.nom_equipement + '/' + ouvrageName + '/' + 'equip' + '/' + equip.id_visite_equipement + '/' + idVisit" routerDirection="forward" fill="solid" expand="block">Détail</ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- END :: LIST-BODY -->
    </ion-list>

  </ng-container>
  <!-- 
    END :: EQUIPEMENT CASE 
  -->
</ion-content>
