<ion-header>
  <app-header customTitle="Accueil"></app-header>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
    <ion-item>
      <ion-button color="primary" (click)="tryIt()">Test création SQLite</ion-button>
      <ion-button color="primary" (click)="insert()">Insert</ion-button>
      <ion-button color="primary" (click)="selectAll()">Select</ion-button>
      <ion-button color="primary" (click)="delete()">Delete</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="primary" (click)="fetchListCas()">Fetch Liste Cas</ion-button>
      <ion-button color="tertiary" (click)="createVisitListCas()">Create Liste Cas for visite</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="secondary" (click)="getAllTablesFromDB()">Get All Tables</ion-button>
      <ion-button color="secondary" (click)="updateVisit()">Update Visit</ion-button>
      <ion-button color="secondary" (click)="getVisitData()">Get Visit DATA</ion-button>
    </ion-item>
    <ion-item>
      
      <ion-button color="secondary" (click)="joinQuery()">Join with PO DATA</ion-button>
      <ion-button color="secondary" (click)="prepareToSend()">Prepare to Send</ion-button>
      
    </ion-item>
  </ion-list>
</ion-content>
