<ion-header>

  <app-header [customTitle]="'Visites'"></app-header>

  <ion-segment [(ngModel)]="viewSegment" value="resume" (ionChange)="initData()">
      <ion-segment-button value="resume">
          <ion-label>Reprendre </ion-label>
      </ion-segment-button> 
      <ion-segment-button value="init">
          <ion-label>Initialisation </ion-label>
      </ion-segment-button>
    </ion-segment>

</ion-header>

<ion-content>

<div [ngSwitch]="viewSegment">

  <ion-list *ngSwitchCase="'resume'">
      <ion-list-header class="ion-text-center">
          <ion-label>Reprendre une visite en cours</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let resume of resumeVisit">
        <ion-label>{{resume.nom_ouvrage}}</ion-label>
        <ion-button slot="end" color="primary" [routerLink]="'/visit-resume/'+resume.id_visite+'/'+resume.nom_ouvrage" routerDirection="forward">
          Reprendre
          <ion-icon slot="end" name="play"></ion-icon>
        </ion-button>

      </ion-item>

  </ion-list>

  <ion-list *ngSwitchCase="'init'">

    <ion-list-header class="ion-text-center">
        <ion-label>Initialiser une visite</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let init of initVisit">
      <ion-label>{{init.nom_ouvrage}}</ion-label>
      <ion-button slot="end" color="primary" (click)="presentModal({id: init.id_visite, name: init.nom_ouvrage})">
        Initialiser 
        <ion-icon slot="end" name="play"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>

</div>

</ion-content>
