<ion-header color="primary">
    <app-header [customTitle]="resumeTitle"></app-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="visit" text="Retour" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-button (click)="displayAlert(resumeId)"  slot="end" color="secondary" class="ion-margin-end"><ion-icon name="close" slot="end"></ion-icon>CLOTÛRER</ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header class="ion-text-center ion-padding-horizontal">
            <ion-label item-left>Parties d'ouvrages</ion-label>
            <ion-label item-right>{{progressLength}}</ion-label>
        </ion-list-header>
    
        <ion-item *ngFor="let po of partieOuvrage" lines="inset">
            <ion-label>{{po.nom_partie_ouvrage}}</ion-label>
            <ion-button slot="end" [color]="'primary'" [routerLink]="'/visit-eval/' + po.id_visite_partie_ouvrage + '/' + po.nom_partie_ouvrage + '/' + resumeTitle + '/' + resumeId" routerDirection="forward">
            Détails
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
