<ion-row>
  <ng-container *ngFor="let num of ratingMax(maxRating); let i = index;">
    <ion-col class="ion-text-center ion-no-padding">
        <ion-icon
        name="{{activeIcon}}"
        (click)="rate(num)"
        [ngStyle] = "{'color' : colorRating(num), 'font-size': fontSize ? fontSize : '1.4em'}"
        class="ion-no-margin"
      ></ion-icon>
    </ion-col>
  </ng-container>
</ion-row>
